.change {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Leftside {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
}

.card {
  margin-top: 24%;
}
#button {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
#button1 {
  background-color: red;
  width: 100px;
  color: #fff;
  font-size: 18px;
  height: 50px;
}
.Leftside1 {
  background-color: blue !important;
}
.text1 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
